/*
Global Marketing Solution

## Overview

API version: 1.0.0
Contact: PM_Margo@crif.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package crifmargo

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type CommonAPI interface {

	/*
	GetDomain Get values of the domainType indicated

	The GET request fetches the values of a `Domain` identified by the domainType.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param domainType the domain type a unique identifier for a `Domain`.
	@return CommonAPIGetDomainRequest
	*/
	GetDomain(ctx context.Context, domainType string) CommonAPIGetDomainRequest

	// GetDomainExecute executes the request
	//  @return DomainArrayMetadataType
	GetDomainExecute(r CommonAPIGetDomainRequest) (*DomainArrayMetadataType, *http.Response, error)

	/*
	GetDomains List all domains

	This method retrieves a list of all name of domains available in Margo.

For each domain the response will contain the **type** (it identifies the domain and it must be reported as parameter in the method **GET /domains/{domainType}**) and the **description** of the relative domain.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CommonAPIGetDomainsRequest
	*/
	GetDomains(ctx context.Context) CommonAPIGetDomainsRequest

	// GetDomainsExecute executes the request
	//  @return []DomainsType
	GetDomainsExecute(r CommonAPIGetDomainsRequest) ([]DomainsType, *http.Response, error)
}

// CommonAPIService CommonAPI service
type CommonAPIService service

type CommonAPIGetDomainRequest struct {
	ctx context.Context
	ApiService CommonAPI
	domainType string
	page *int64
	size *int64
	acceptLanguage *string
}

// Zero-based number of the page to obtain
func (r CommonAPIGetDomainRequest) Page(page int64) CommonAPIGetDomainRequest {
	r.page = &page
	return r
}

// It manages the maximum number of elements inside a response. Maximum can&#39;t be more than 100.
func (r CommonAPIGetDomainRequest) Size(size int64) CommonAPIGetDomainRequest {
	r.size = &size
	return r
}

// Set here the language you want in output
func (r CommonAPIGetDomainRequest) AcceptLanguage(acceptLanguage string) CommonAPIGetDomainRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r CommonAPIGetDomainRequest) Execute() (*DomainArrayMetadataType, *http.Response, error) {
	return r.ApiService.GetDomainExecute(r)
}

/*
GetDomain Get values of the domainType indicated

The GET request fetches the values of a `Domain` identified by the domainType.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param domainType the domain type a unique identifier for a `Domain`.
 @return CommonAPIGetDomainRequest
*/
func (a *CommonAPIService) GetDomain(ctx context.Context, domainType string) CommonAPIGetDomainRequest {
	return CommonAPIGetDomainRequest{
		ApiService: a,
		ctx: ctx,
		domainType: domainType,
	}
}

// Execute executes the request
//  @return DomainArrayMetadataType
func (a *CommonAPIService) GetDomainExecute(r CommonAPIGetDomainRequest) (*DomainArrayMetadataType, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DomainArrayMetadataType
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CommonAPIService.GetDomain")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/domains/{domainType}"
	localVarPath = strings.Replace(localVarPath, "{"+"domainType"+"}", url.PathEscape(parameterValueToString(r.domainType, "domainType")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	} else {
		var defaultValue int64 = 0
		r.page = &defaultValue
	}
	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "")
	} else {
		var defaultValue int64 = 15
		r.size = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ResponseErrorType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ResponseErrorType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseErrorType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CommonAPIGetDomainsRequest struct {
	ctx context.Context
	ApiService CommonAPI
	acceptLanguage *string
}

// Set here the language you want in output
func (r CommonAPIGetDomainsRequest) AcceptLanguage(acceptLanguage string) CommonAPIGetDomainsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

func (r CommonAPIGetDomainsRequest) Execute() ([]DomainsType, *http.Response, error) {
	return r.ApiService.GetDomainsExecute(r)
}

/*
GetDomains List all domains

This method retrieves a list of all name of domains available in Margo.

For each domain the response will contain the **type** (it identifies the domain and it must be reported as parameter in the method **GET /domains/{domainType}**) and the **description** of the relative domain.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return CommonAPIGetDomainsRequest
*/
func (a *CommonAPIService) GetDomains(ctx context.Context) CommonAPIGetDomainsRequest {
	return CommonAPIGetDomainsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []DomainsType
func (a *CommonAPIService) GetDomainsExecute(r CommonAPIGetDomainsRequest) ([]DomainsType, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []DomainsType
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CommonAPIService.GetDomains")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/domains"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ResponseErrorType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseErrorType
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
